@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "app.css";
@import "basics.css";
@import "scheme.css";

/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
  --bgSelection :  hsl(0%, 15%, 20%);
}
