@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "app.css";
@import "basics.css";
@import "scheme.css";

/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*
--color1:   hsla(270, 3%, 86%, 1);
--color2: hsla(315, 3%, 45%, 1);
--color3: hsla(229, 20%, 100%, 1);
--color4: hsla(231, 14%, 71%, 1);
--color5: hsla(0, 0%, 0%, 1);

$color1: #d8d5dbff;
$color2: #736f72ff;
$color3: #ccd5ffff;
$color4: #9b9fb5ff;
$color5: #000000ff;

$color1: hsla(270, 3%, 86%, 1);
$color2: hsla(315, 3%, 45%, 1);
$color3: hsla(229, 20%, 100%, 1);
$color4: hsla(231, 14%, 71%, 1);
$color5: hsla(0, 0%, 0%, 1);

$color1: rgba(216, 213, 219, 1);
$color2: rgba(115, 111, 114, 1);
$color3: rgba(204, 213, 255, 1);
$color4: rgba(155, 159, 181, 1);
$color5: rgba(0, 0, 0, 1);
*/

:root {
  --primary: #292a2b;
  --red: #e31b23;
  --bodyColor: #f0f0f0ff;
  --borderFormEls: #736f72ff;
  --bgFormEls: #c8c5cbff;
  --bgFormElsFocus: #9b9fb5ff;
  --bgSelection :  #9b9fb5ff;
}
