@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "app.css";
@import "basics.css";
@import "scheme.css";
/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #303437;
  --borderFormEls: #323437;
  --bgFormEls: #323437;
  --bgFormElsFocus: #484C50;
  --bgSelection : #425663;
}
