@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import "app.css";
@import "basics.css";
@import "scheme.css";
/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #303437;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: #373B3E;
  --bgFormElsFocus: #3B515F;
  --bgSelection : #425663;
}
