@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

/* BASIC ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}


textarea {
  font-size: 12px;
  width : inherit;
}

p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;

}

ul {
  list-style: none;
}

details{
  cursor: pointer;
  padding: 10px;
}


details:hover{
  box-shadow: 0 0 10px rgba(0,0,0, 0.75);
}

/* Remove Arrow*/
details > summary::-webkit-details-marker {
  display: none;
}


/* SELECTION */
select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

/* SCROLLBAR DARK THEME*/
html {
  scroll-behavior: smooth;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

/* BODY DEFAULT*/
body {
  font: 17px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);
  margin: 0 !important;
  padding: 0 !important;
}


/* MAIN POPUP ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.custom-form h1 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.small-icon{
  height : 20px;
  width : 20px;
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
}


.custom-form li,

.custom-form .grid-commands{
    line-height: 1.5;
    padding: 15px 15px;
    border: 2px solid var(--borderFormEls);
    box-shadow: 0 0 10px rgba(0,0,0, 0.75);
    color: var(--white);
}


.custom-form .grid > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.custom-form li{
  line-height: 1.5;
  padding: 15px 15px;
  border: 2px solid var(--borderFormEls);
  box-shadow: 0 0 10px rgba(0,0,0, 0.75);
  color: var(--white);
}

.custom-form select,
.custom-form input,
.custom-form textarea,
.custom-form button {
  line-height: 1.5;
  padding: 15px 15px;
  border: 2px solid var(--borderFormEls);
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.custom-form textarea {
  height: 170px;
  width : 100%;
}

.custom-form details{
  width : width: 100%;
}


.custom-form select:focus,
.custom-form input:focus,
.custom-form textarea:focus,
.custom-form button:focus,
.custom-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.custom-form select:focus,
.custom-form input:focus,
.custom-form textarea:focus {
  transform: scale(1.02);
}

.custom-form *:required,
.custom-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 15px 15px;
}


.custom-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.custom-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.custom-form button {
  font-weight: bold;
}

.custom-form button > * {
  display: inline-block;
  width: 100%;
}

/* CODE BLOCKS RENDERED
------------------------------------------------------*/

.custom-form .rendered-code{
  text-align: center;
  line-height: 170%;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}
