@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* COLOR THEME
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --bgFormElsFocus: hsl(0, 7%, 20%);
  --bgSelection :  hsl(0%, 15%, 20%);
}

/* BASIC ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* ------------------------- BODY -----------------------------------------*/
    body {
      font-size: 14px;
      font: "Open Sans", sans-serif;
      background: var(--bodyColor);
      color: var(--white);
      margin: 0 !important;
      padding: 0 !important;
      align-content: center;
    }

  /* ---------------------------------------------------------------------------*/

  /* ----------------------------- GENERAL -------------------------------------*/
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      outline: none;
    }

    a {
      color: inherit;
    }

    input,
    select,
    textarea,
    button {
      font-family: inherit;
      font-size: 100%;
    }

    button{
      cursor: pointer;
    }

    textarea {
      font-size: 1rem;
      width : inherit;
    }

    p {
      font-size: 1rem;
      margin-top: ;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
    }

  /* --------------------------------------------------------------------------*/

  /* --------------------------- DETAILS FOR CODES ----------------------------*/

    details{
      align-content: center;
      width : 100%;
      cursor: pointer;
      padding: 10px;
    }

    details:hover{
      box-shadow: 0 0 0.6rem rgba(0,0,0, 0.75);
    }

    /* Remove Arrow*/
    details > summary::-webkit-details-marker {
      display: none;
    }

    details[open] summary ~ * {
      animation: sweep 0.5s ease-in-out;
    }

    @keyframes sweep {
      0%    {opacity: 0; margin-left: -0.6rem}
      100%  {opacity: 1; margin-left: 0px}
    }

  /* ---------------------------------------------------------------------------*/

  /* ------------------------- SCROLLBAR DARK THEME ----------------------------*/

      html {
        scroll-behavior: smooth;
        scrollbar-face-color: #646464;
        scrollbar-base-color: #646464;
        scrollbar-3dlight-color: #646464;
        scrollbar-highlight-color: #646464;
        scrollbar-track-color: #000;
        scrollbar-arrow-color: #000;
        scrollbar-shadow-color: #646464;
        scrollbar-dark-shadow-color: #646464;
      }
      ::-webkit-scrollbar { width: 0.4rem; height: 0.4rem;}
      ::-webkit-scrollbar-button {  background-color: #666; }
      ::-webkit-scrollbar-track {  background-color: #646464;}
      ::-webkit-scrollbar-track-piece { background-color: #000;}
      ::-webkit-scrollbar-thumb { height: 3rem; background-color: #666; border-radius: 0.2rem;}
      ::-webkit-scrollbar-corner { background-color: #646464;}}
      ::-webkit-resizer { background-color: #666;}

  /* ---------------------------------------------------------------------------*/

  /* -------------------------------SELECTION----------------------------------*/

      ::selection {
        background-color:  var(--bgSelection);
        color: white;
      }


  /* ---------------------------------------------------------------------------*/

/* MAIN THEME ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* ------------------------------- BOXING ----------------------------------------*/
    .popup-form {
      width : 800px;
      height : 700px;
    }

    .container {
      text-align: center;
      padding: 0 0.5rem;
    }

    .dark-theme .grid-commands{
      line-height: 1.5;
      padding: 0.3rem 0.3rem;
      border: 0.15rem solid var(--borderFormEls);
      box-shadow: 0 0 0.6rem rgba(0,0,0, 0.75);
      color: var(--white);
    }

    .dark-theme li{
      line-height: 1.5;
      padding: 1rem 1rem;
      border: 0.15rem solid var(--borderFormEls);
      box-shadow: 0 0 0.6rem rgba(0,0,0, 0.75);
      color: var(--white);
    }

  /* --------------------------- TITLES ---------------------------------------*/
    .dark-theme h1 {
      margin-bottom: 0.2rem;
      margin-top: 0.2rem;
      font-size: 1.3rem;
    }
    .dark-theme h2 {
      margin-bottom: 0.1rem;
      margin-top: 0.1rem;
      font-size: 1.1rem;
    }
    .dark-theme h3 {
      margin-bottom: 0.1rem;
      margin-top: 0.1rem;
      font-size: 1rem;
    }

  /* -------------------------------- ICONS ------------------------------------*/
    .small-icon{
      height : 1.3rem;
      width : 1.3rem;
    }

  /* --------------------------------- INPUTS -----------------------------------*/

    .dark-theme select,
    .dark-theme textarea,
    .dark-theme button,
    .dark-theme input[type="checkbox"]:focus + label{
      align-content:  center;
      line-height: 1.5;
      padding: 0.4rem 0.4rem;
      margin : 0.2rem 0.2rem;
      border: 0.15rem solid var(--borderFormEls);
      box-shadow: 0 0 0.1rem rgba(0,0,0, 0.75);
      color: var(--white);
      background: var(--bgFormEls);
      transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
        transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    }

    .dark-theme select:focus,
    .dark-theme input:focus,
    .dark-theme textarea:focus,
    .dark-theme button:focus,
    .dark-theme input[type="checkbox"]:focus + label {
      background: var(--bgFormElsFocus);
    }

    .dark-theme select:focus,
    .dark-theme input:focus,
    .dark-theme textarea:focus {
      transform: scale(1.05);
    }

    .dark-theme *:required,
    .dark-theme select {
      background-repeat: no-repeat;
      background-position: center right 12px;
      background-size: 15px 15px;
    }

    .dark-theme select {
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
    }

    .dark-theme *:disabled {
      cursor: default;
      filter: blur(2px);
    }

    .dark-theme button {
      font-weight: bold;
    }

    .dark-theme button > * {
      display: inline-block;
      width: 100%;
    }

    /* ------------------------ CODE BLOCKS SPECIFIC ---------------------------*/

    .dark-theme .code-preview{
      font-family: "Courier New", Courier, monospace;
      font-size: 0.9rem;
      text-align: center;
      line-height: 1.1;
    }

    .dark-theme .code-name {
        align-self: center;
        line-height: 1.1;
        padding: 0.15rem 0.15rem;
        margin: 0.6rem 0.6rem;
        border: 0.15rem solid var(--borderFormEls);
        box-shadow: 0 0 0.1rem rgba(0,0,0, 0.75);
        color: var(--white);
        background: var(--bgFormEls);
        transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
          transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    }
    .dark-theme .code-tag {
        display : inline-block;
        line-height: 1.1;
        padding: 0.15rem 0.15rem;
        margin: 0.6rem 0.6rem;
        border: 0.15rem solid var(--borderFormEls);
        box-shadow: 0 0 0.1rem rgba(0,0,0, 0.75);
        color: var(--white);
        background: var(--bgFormEls);
        transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
          transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    }

    .dark-theme .code-basic-editor-container{
      display : grid;
      grid-gap : 2rem;
      position: relative;
    }

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  margin : 0.5rem 0.5rem;
  font-size: 1rem;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}
